.container {
  display: flex;
  /* justify-content: space-between; Căn trái và phải */
  /* Căn giữa theo chiều dọc */
  height: 100%;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 10px;
}

.menuItem {
  text-decoration: none;
}

.menu li:first-child {
  margin-left: 0;
}

.logo {
  font-size: 24px;
  text-decoration: none;
}

.avatar-button .ant-avatar {
  width: 100%;
  height: 100%;
}

.avatar-button .ant-avatar-image {
  object-fit: cover;
}
img[alt='Logo'] {
  align-items: center;
  display: flex;
  width: 30vw;
}

@media only screen and (max-width: 800px) {
  img[alt='Logo'] {
    width: 0px;
  }
}
